#usernameSubmit {
    padding: 1rem;  
    background: #1f97f9;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#usernameSubmit:hover {
    background-color: #0d83ea;
}

#showPassword {
    height: 20px;
    width: 16px;
    align-self: center;
}

.login_icon{
    width: 20px;
    height: 16px;
}

.password{
    margin: 1rem 0rem;
}